<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Brewdex</title>
  </head>
  <body>
      <header>
          <h1>Brewdex</h1>
          <nav>
              <ul>
                  <li>
                      <a href="/crew">Brew Crew</a>
                  </li>
                  <li>
                      <a href="/breweries">Breweries</a>
                  </li>
              </ul>
          </nav>
      </header>
  </body>
</html>
