<!DOCTYPE html>
<html>
  <head>
      <% include partials/head.ejs %>
  </head>
  <body>
    <header>
        <nav>
          <h1 class="nav-title">The Brewdex</h1>

            <ul class="nav" id="nav-ul">
                <li id="nav-li">
                    <a href="/crew">Brew Crew</a>
                </li>
                <li id="nav-li">
                    <a href="/breweries">Breweries</a>
                </li>
            </ul>
        </nav>
    </header>
    <div id="home-pic">
        <img id="home-main-img" src="https://static.seattletimes.com/wp-content/uploads/2017/03/581e3cf6-0e64-11e7-aafa-d88efb65a573-780x525.jpg" alt="">
    </div>
  </body>
</html>
