<!DOCTYPE html>
<html>
  <head>
      <% include partials/head.ejs %>
  </head>
  <body>
    <%# <header>
        <nav>


            <ul class="nav" id="nav-ul">
                <li id="nav-li">
                    <h1>The Brewdex</h1>
                </li>
                <li id="nav-li">
                    <a href="/crew">Brew Crew</a>
                </li>
                <li id="nav-li">
                    <a href="/breweries">Breweries</a>
                </li>
            </ul>
        </nav>
    </header>%>
    <header>
        <% include partials/nav.ejs %>
    </header>
    <div class="jumbotron jumbotron-fluid bg-white">
      <div class="container">
        <!-- <div class="row">
          <div class="col-xl-1"> -->
            <img id="home-main-img" class="img-fluid" src="https://images.fineartamerica.com/images-medium-large-5/we-want-beer-unknown.jpg" alt="">
          <!-- </div>
        </div> -->
      </div>
    </div>

    <!-- brewcrew card -->
    <section class="container-fluid" id="cardContainer">
      <div class="row" id="bcRow">
        <div class="col-md-6 my-auto bcrew">
          <div class="card text-center border-0">
            <div class="card-header">
              Brew-Crew
            </div>
            <div class="card-body">
              <h5 class="card-title">Come Join Us!</h5>
              <p class="card-text">Find crew members and see where and what beers they like to drink.</p>
              <a href="#" class="btn btn-primary">View the crew.</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 mx-auto">
          <img class="img-fluid" src="https://sonorareview.files.wordpress.com/2013/04/speakeasy.jpg" alt="">
        </div>
      </div>
    </section>
  </body>
</html>
