<!DOCTYPE html>
<html>
  <head>
      <% include partials/head.ejs %>
  </head>
  <body>
    <%# <header>
        <nav>


            <ul class="nav" id="nav-ul">
                <li id="nav-li">
                    <h1>The Brewdex</h1>
                </li>
                <li id="nav-li">
                    <a href="/crew">Brew Crew</a>
                </li>
                <li id="nav-li">
                    <a href="/breweries">Breweries</a>
                </li>
            </ul>
        </nav>
    </header>%>
    <header>
        <% include partials/nav.ejs %>
    </header>

    <!-- jumbotron -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <!-- <div class="row">
          <div class="col-xl-1"> -->
            <img id="home-main-img" class="img-fluid" src="https://images.fineartamerica.com/images-medium-large-5/we-want-beer-unknown.jpg" alt="">
          <!-- </div>
        </div> -->
      </div>
    </div>

    <!-- brewcrew -->
    <section class="container-fluid">
      <div class="row">
        <div class="col-md-6 my-auto">
          <div class="card text-center border-0">
            <div class="card-header">
              Brew-Crew
            </div>
            <div class="card-body">
              <h5 class="card-title">Come Join Us!</h5>
              <p class="card-text">Find crew members and see where and what beers they like to drink.</p>
              <a href="#" class="btn btn-dark">View the crew</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <img class="img-fluid mx-auto" src="https://sonorareview.files.wordpress.com/2013/04/speakeasy.jpg" alt="">
        </div>
      </div>
    </section>

    <!-- breweries -->
    <section class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-6 text-center order-2 order-md-1">
          <img id="breweriesCardImg" class="img-fluid mx-auto" src="http://www.beeretseq.com/wp-content/uploads/2016/01/Billies-Bar-1936.jpg" alt="">
        </div>
        <div class="col-md-6 my-auto order-1 order-md-2">
          <div class="card text-center border-0">
            <div class="card-header">
              Breweries
            </div>
            <div class="card-body">
              <h5 class="card-title">Drink where we drink!</h5>
              <p class="card-text">Check out our favorite places to drink.</p>
              <a href="#" class="btn btn-dark">View breweries</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    
  </body>
</html>
