<!DOCTYPE html>
<html>
  <head>
      <% include partials/head.ejs %>
  </head>
  <body>
    <%# <header>
        <nav>


            <ul class="nav" id="nav-ul">
                <li id="nav-li">
                    <h1>The Brewdex</h1>
                </li>
                <li id="nav-li">
                    <a href="/crew">Brew Crew</a>
                </li>
                <li id="nav-li">
                    <a href="/breweries">Breweries</a>
                </li>
            </ul>
        </nav>
    </header>%>
    <header>
        <% include partials/nav.ejs %>
    </header>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <!-- <div class="row">
          <div class="col-xl-1"> -->
            <img id="home-main-img" class="img-fluid xl-1" src="https://images.fineartamerica.com/images-medium-large-5/we-want-beer-unknown.jpg" alt="">
          <!-- </div>
        </div> -->
      </div>
    </div>
  </body>
</html>
