header {
  height: 200px;
}

.nav-title {
  text-align: center;
  font-size: 36px;
  margin-top: -10%;
}

.nav-subtitle {
  text-align: center;
  margin-top: 5%;
}

.posted {
  text-align: center;
}

#nav-ul {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}

#nav-li {
  display: block;
  list-style: none;
  flex: 0 1 auto;
}

#home-pic {
  margin-top: 5%;
  clear: both;
}

#home-main-img {
  width: 100%;
}

li {
  list-style: none;
}

.create-add {
  text-align: center;
}

.row {
  margin-top: 5%;
}

.center_div {
  margin: 0 auto;
  width: 80%;
}

.bootstrap-iso {
  margin-top: -5%;
}

.main-content {
  margin-top: -5%;
}

.edit-add-delete {
  display: block;
  margin-top: 40%;
}
