body {
  background-color: #e9ecef;
  font-family: 'Josefin Slab', serif;
  font-weight: 700;
}

#mainNavbar {
  text-transform: uppercase;
}

.nav-link:hover, .brewBtn:hover {
  background-color: #f28e1c;
  border: none;
}

.main-imgs {
  display: block;
  margin: 20px auto 0 auto;
  width: 100%;
}

.row {
  max-width: 90%;
  margin: 0 auto 50px auto;
}

.indexImg {
  width: 100%;
}

#breweriesCardImg {
  filter: grayscale(100%);
}

#createdBy {
  text-align: center;
}

.footer {
  height: 40px;
}

#footContainer {
  text-align: center;
  padding: 7px;
}

.fa-beer, .colored {
  color: #f28e1c;
}

a:hover {
  color: #ffbb33;
}

.indexJumbo {
  width: 80%;
  margin: 40px auto 0 auto;
}

.crewCard {
  max-width: 80%;
  min-height: 285px;
}

.crewNameView {
  color: #f28e1c;
}

.profile {
  min-height: 700px;
  margin-top: 100px;
}

.joinEditContainer {
  margin-top: 75px;
}

.divForm {
  display: flex;
  flex-direction: row;
  line-height: inherit;
}

.profileImg {
  height: 400px;
  object-fit: contain;
}
