body {
  background-color: #e9ecef;
  font-family: 'Josefin Slab', serif;
  font-weight: 700;
}

#mainNavbar {
  text-transform: uppercase;
}

.nav-link:hover, .indexBtn:hover {
  background-color: #f28e1c;
  border: none;
}

#home-main-img {
  display: block;
  margin: 20px auto 0 auto;
  width: 100%;
}

.row {
  max-width: 1000px;
  margin: 0 auto 50px auto;
}

.indexImg {
  width: 100%;
}

#breweriesCardImg {
  filter: grayscale(100%);
}

#createdBy {
  text-align: center;
}

.footer {
  height: 40px;
}

#footContainer {
  text-align: center;
  padding: 7px;
}

.fa-beer {
  color: #f28e1c;
}
