<!DOCTYPE html>
<html>
  <head>
    <head>
        <% include ../partials/head.ejs %>
    </head>
  </head>
  <body>
      <nav>
          <% include ../partials/nav.ejs %>
      </nav>
      <main>
          <h2>Brew Crew</h2>
          <ul>
              <% for (let i = 0; i < crew.length; i++) { %>
                  <li>
                      <a href="/crew/<%= crew[i]._id %>"><%= crew[i].name %></a><br/>
                      <a href="/crew/<%= crew[i]._id %>">
                      <img src="<%= crew[i].profile_pic %>" height="200" width="200"><br/>
                      </a>
                  </li>
              <% } %>
          </ul>
          <a href="/crew/new">Create a Profile</a>
      </main>
  </body>
</html>
