<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head.ejs %>
    </head>
  <body>
      <nav>
          <% include ../partials/nav.ejs %>
      </nav>
      <h1 class="nav-title">Brew Crew</h2>
      <main>
        <div class="create-add">
          <a href="/crew/new">Join the Crew</a>
        </div>
        <div class="back-pic">
        <div class="row">
          <ul>
              <% for (let i = 0; i < crew.length; i++) { %>
                  <li class="col-xs-4">
                      <a href="/crew/<%= crew[i]._id %>"><%= crew[i].name %></a><br/>
                      <a href="/crew/<%= crew[i]._id %>">
                      <img src="<%= crew[i].profile_pic %>" class="img-rounded" height="200" width="200"><br/>
                      </a>
                  </li>
              <% } %>
          </ul>
        </div>
        </div>
      </main>
  </body>
</html>
