<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <header>
          <h1>Brew Crew</h1>
          <nav>
              <ul>
                  <li>
                      <a href="/">Home</a>
                  </li>
                  <li>
                      <a href="/crew/new">Join the Crew</a>
                  </li>
              </ul>
          </nav>
      </header>
      <main>
          <h2>Brew Crew</h2>
          <ul>
              <% for (let i = 0; i < crew.length; i++) { %>
                  <li>
                      <a href="/crew/<%= crew[i]._id %>"><%= crew[i].name %></a><br/>
                      <a href="/crew/<%= crew[i]._id %>">
                      <img src="<%= crew[i].profile_pic %>" height="200" width="200"><br/>
                      </a>
                  </li>
              <% } %>
          </ul>
      </main>
  </body>
</html>
