<!DOCTYPE html>
<html>
  <head>
      <head>
          <% include ../partials/head.ejs %>
      </head>
  </head>
  <body>
      <nav>
          <% include ../partials/nav.ejs %>
      </nav>
      <header>
          <h1>Brew Crew Profile</h1>
      </header>
      <main>
        <form action="/crew" method="POST">
            User Name: <input type="text" name="name"/><br/>
            Profile Pic: <input type="text" name="profile_pic"/><br/>
            Favorite Beer: <input type="text" name="fav_beer"/><br/>
            Favorite Brewery: <input type="text" name="fav_brewery"/><br/>
            About Me: <br/><textarea name="about"></textarea><br/>
            <input type="submit" name="" value="Create User">
      </main>
  </body>
</html>
