<!DOCTYPE html>
<html>
  <head>
      <head>
          <% include ../partials/head.ejs %>
      </head>
  </head>
  <body>
      <nav>
          <% include ../partials/nav.ejs %>
      </nav>

      <div class="container-fluid joinEditContainer">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 mx-auto">
            <h1>JOIN US</h1>
            <form action="/crew" method="POST">
                User Name: <input class="form-control" type="text" name="name" placeholder="Enter your user name"/><br/>
                Profile Pic: <input class="form-control" type="text" name="profile_pic" placeholder="Enter the URL of your image"/><br/>
                Favorite Beer: <input class="form-control" type="text" name="fav_beer" placeholder="Enter the name or type of your favorite beer"/><br/>
                Favorite Brewery: <input class="form-control" type="text" name="fav_brewery" placeholder="Enter your favorite place to drink"/><br/>
                About Me: <br/><textarea class="form-control" name="about" placeholder="Tell us about yourself"></textarea><br/>
                <input class="bg-secondary text-white font-weight-bold text-center" type="submit" name="" value="Create Profile">
          </div>
        </div>
      </div>

      <footer>
        <% include ../partials/footer.ejs %>
      </footer>
  </body>
</html>
