<!DOCTYPE html>
<html>
  <head>
      <head>
          <% include ../partials/head.ejs %>
      </head>
  </head>
  <body>
      <nav>
          <% include ../partials/nav.ejs %>
      </nav>
      <header>
          <h1 class="nav-title">Brew Crew Profile</h1>
      </header>
    <main>
        <div class="bootstrap-iso">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4 col-md-offset-4">
                <form action="/crew" method="POST">
                    User Name: <input class="form-control" type="text" name="name"/><br/>
                    Profile Pic: <input class="form-control" type="text" name="profile_pic"/><br/>
                    Favorite Beer: <input class="form-control" type="text" name="fav_beer"/><br/>
                    Favorite Brewery: <input class="form-control" type="text" name="fav_brewery"/><br/>
                    About Me: <br/><textarea class="form-control" name="about"></textarea><br/>
                    <input type="submit" name="" value="Create Profile">
              </div>
            </div>
          </div>
        </div>
      </main>
  </body>
</html>
