<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head.ejs %>
    </head>
  <body>
      <nav>
          <% include ../partials/nav.ejs %>
      </nav>

      <section class="container-fluid profile">
        <div class="row">
            <div class="card mx-auto w-75" id="profileContainer">
              <img class="card-img-top" src="https://www.kegworks.com/wp/wp-content/uploads/2013/05/simpson-duff-beer-internet-homer.jpg" alt="Card image cap">
              <div class="card-body">
                <h3 class="card-title text-warning">Name</h3>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.lorem </p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Favorite Beer: </li>
                <li class="list-group-item">Favorite Brewery: </li>
                <li class="list-group-item">Breweries Posted: </li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link text-warning">Edit Profile</a>
                <a href="#" class="card-link text-warning">Delete Profile</a>
              </div>
            </div>
          </div>
      </section>



      <footer>
        <% include ../partials/footer.ejs %>
      </footer>
  </body>
</html>
