<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <header>
          <h1>Breweries</h1>
          <nav>
              <ul>
                  <li>
                      <a href="/">Home</a>
                  </li>
                  <li>
                      <a href="/breweries/new">Add a Brewery</a>
                  </li>
              </ul>
          </nav>
      </header>
  </body>
</html>
