<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
      <nav>
          <% include ../partials/nav.ejs %>
      </nav>

      <div class="jumbotron jumbotron-fluid indexJumbo">
        <div class="card text-center">
          <h5 class="card-header bg-dark text-light"><i class="fas fa-beer"></i> Breweries <i class="fas fa-beer"></i></h5>
          <div class="card-body">
            <h5 class="card-title">Cheers!</h5>
            <p class="card-text">Where We Like To Drink.</p>
            <a href="/breweries/new" class="btn btn-secondary brewBtn">Add A Brewery</a>
          </div>
        </div>
      </div>

      <main>


        <div class="row">
          <ul>
              <% for (let i = 0; i < breweries.length; i++) { %>
                <li class="col-xs-4">
                    <a href="/breweries/<%= breweries[i]._id %>"><%= breweries[i].name %></a><br/>
                    <a href="/breweries/<%= breweries[i]._id %>">
                    <img src="<%= breweries[i].pic %>" height="200" width="200"><br/>
                    </a>
                </li>
              <% } %>
          </ul>
        </div>
      </main>
  </body>
</html>
