<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
      <nav>
          <% include ../partials/nav.ejs %>
      </nav>
      <main>
        <div class="back-pic-longer">
          <h2 class="nav-title">Breweries</h2>
          <div class="create-add">
            <a href="/breweries/new">Add a Brewery</a>
          </div>

        <div class="row">
          <ul>
              <% for (let i = 0; i < breweries.length; i++) { %>
                <li class="col-xs-4">
                    <a href="/breweries/<%= breweries[i]._id %>"><%= breweries[i].name %></a><br/>
                    <a href="/breweries/<%= breweries[i]._id %>">
                    <img src="<%= breweries[i].pic %>" height="200" width="200"><br/>
                    </a>
                </li>
              <% } %>
          </ul>
        </div>
          </div>
      </main>
  </body>
</html>
