<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <header>
          <h1>Brewdex</h1>
          <nav>
              <ul>
                  <li>
                      <a href="/">Home</a>
                  </li>
                  <li>
                      <a href="/breweries/new">Add a Brewery</a>
                  </li>
              </ul>
          </nav>
      </header>
      <main>
          <h2>List of Breweries</h2>
          <ul>
              <% for (let i = 0; i < breweries.length; i++) { %>
                <li>
                    <a href="/breweries/<%= breweries[i]._id %>"><%= breweries[i].name %></a><br/>
                    <a href="/breweries/<%= breweries[i]._id %>">
                    <img src="<%= breweries[i].pic %>" height="200" width="200"><br/>
                    </a>
                </li>
              <% } %>
          </ul>
      </main>
  </body>
</html>
