<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
      <nav>
          <% include ../partials/nav.ejs %>
      </nav>

      <div class="jumbotron jumbotron-fluid indexJumbo">
        <div class="card text-center">
          <h5 class="card-header bg-dark text-light"><i class="fas fa-beer"></i> Breweries <i class="fas fa-beer"></i></h5>
          <div class="card-body">
            <h5 class="card-title">Cheers!</h5>
            <p class="card-text">Where We Like To Drink.</p>
            <a href="/breweries/new" class="btn btn-secondary brewBtn">Add A Brewery</a>
          </div>
        </div>
      </div>




      <footer>
        <% include ..partials/footer.ejs %>
      </footer>

  </body>
</html>
